.js-title {
  color: aqua;
}
.showing {
  display: block;
  color: black;
}
.form,
.greeting {
  display: none;
}

.body {
  background-color: rgb(218, 39, 39);
  height: 100vh;
}
.bgImage {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.js-clock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  font-style: italic;
  margin-top: 180px;
  margin-bottom: -70px;
}
.js-toDoList,
.js-toDoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greeting {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: chocolate;
}
form input {
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
  font-size: larger;
}
